<style>
    .foot {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50px;
        margin-top: 800px;
        color: #fff;
        text-align: center;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: #333;
        border-top: 2px solid #000;
    }
    
    .ul {
        list-style: none;
    }
</style>
<div>
    <footer class="foot">
        <ul class="ul">
            <li><small>  -  Todos los Derechos Reservados  -  </small></li>
            <!--<li><a href="{{ url_for('contacto') }}">Contacto</a></li>-->
            <li><small>  -  Powered by Randoom Access  -  </small></li>
            <!--<li><small><a href="  -  Powered By KBeza's  -  .html"></a> </small> </a>-->
            </li>
        </ul>
    </footer>
</div>