* {
    margin: 0px;
    padding: 0px;
}

.fondo {
    margin: auto;
    width: 1400px;
    height: 650px;
    background-color: #3bc04b;
    position: absolute;
}

.recuperarpass-box {
    width: 320px;
    height: 420px;
    background: rgb(238, 235, 84);
    color: #000;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.recuperarpass-box .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.recuperarpass-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.recuperarpass-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.recuperarpass-box input {
    width: 100%;
    margin-bottom: 20px;
}

.recuperarpass-box input[type="text"],
.recuperarpass input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
}

.recuperarpass-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #b80f22;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}

.recuperarpass-box input[type="submit"]:hover {
    cursor: pointer;
    background: #f5cb4e;
    color: #000;
}

.recuperarpass .leyenda {
    padding-top: 150px;
    width: 280px;
    height: 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    text-align: center;
    text-decoration: none;
    font-family: helvetica;
    font-weight: 300;
    font-size: 18px;
    font-style: italic;
    color: #000;
}