{% extends 'base_layout.html' %}
<!---->
{% block content %}

<link rel="stylesheet" type="text/css" href="../static/editar_info_enlaces.css">
<h3 class="titulo">Peludot@s - Edición Registro Veterinarias</h3>

<div class="reg-mascota-box">
    <img src="../static/images/logo.jpg" class="avatar" alt="Avatar Image">
    <h1>Editar Registro</h1>

    <form action="/update/{{contenido.0}}" method="POST" enctype="multipart/form-data">

        <label for="Departamento">Departamento</label>
        <input type="text" name="departamento" value="{{ contenido.1 }}">

        <label for="Ciudad">Ciudad</label>
        <input type="text" name="ciudad" value="{{ contenido.2 }}">

        <label for="Nombre de veterinaria">Nombre de la Veterinaria</label>
        <input type="text" name="nombre" placeholder="Ingresar nombre de la Veterinaria" value="{{ contenido.3 }}">

        <label for="Horario">Horario</label>
        <input type="text" name="horario" placeholder="Horario" value="{{ contenido.4 }}">

        <label for="Direccion">Direccion</label>
        <input type="text" name="direccion" placeholder="Direccion" value="{{ contenido.5 }}">

        <label for="Telefono">Telefono</label>
        <input type="text" name="telefono" placeholder="Telefono" value="{{ contenido.6 }}">

        <label for="Email">Email</label>
        <input type="email" name="email" placeholder="Email" value="{{ contenido.7 }}">

        <input type="submit" value="Editar">
    </form>
</div>
{% endblock %}