{% extends 'base_layout.html' %}
<!--Contenido de Sección Principal-->
{% block content %}

<link rel="stylesheet" type="text/css" href="../static/noticias.css">
<h3 class="titulo">Peludit@s - Noticias</h3>

<div class="container2">
    <aside>
        <blockquote id="texto2">Enterate de todas las Noticias</blockquote>

        <blockquote id="texto3">
            <ul class="ul">
                <li>
                    <a href="https://www.elobservador.com.uy/nota/las-mascotas-mimadas-mueven-millones-en-uruguay-2017517500" style="color:#fff">Mascotas Mimadas uno</a>
                </li>
                <br>
                <li>
                    <a href="https://www.elobservador.com.uy/nota/las-mascotas-mimadas-mueven-millones-en-uruguay-2017517500" style="color:#fff">Mascotas Mimadas dos</a>
                </li>
                <br>
                <li>
                    <a href="https://www.elobservador.com.uy/nota/las-mascotas-mimadas-mueven-millones-en-uruguay-2017517500" style="color:#fff" ">Mascotas Mimadas tres</a>
                </li>
                </ul>
            </blockquote>
        </aside>
</div>
<div class="noticia1 ">
    <aside>
        <article>
            <p id="texto4 ">Bienvenidos a Peludit@s el Sitio Web de las mascotas, esta pensado para los amantes de las mascotas, aquí podrás encontrar información actualizada en las diferentes Secciones. Adopciones Responsables, mascotas perdidas y encontradas. Si queres
                aportar tu granito de arena hace click en: Donaciones. Información detallada por Departamento y Ciudad. También encontrarás nuestra sección Chat, para que tu comunicacion se directa con otros usuarios, que estén como tu visitando nuestro
                Sitio Web.               
            </p>
            <button>
                <a class="boton_1 " href="{{ url_for( 'noticia_uno') }} ">Leer mas...</a>
            </button>           
        </article>
        
    </aside>
</div>
<div class="noticia2 ">
    <aside>
        <p id="texto4 ">Bienvenidos a Peludit@s el Sitio Web de las mascotas, esta pensado para los amantes de las mascotas, aquí podrás encontrar información actualizada en las diferentes Secciones. Adopciones Responsables, mascotas perdidas y encontradas. Si queres
            aportar tu granito de arena hace click en: Donaciones. Información detallada por Departamento y Ciudad. También encontrarás nuestra sección Chat, para que tu comunicacion se directa con otros usuarios, que estén como tu visitando nuestro
            Sitio Web.
        </p>
        <button>
            <a class="boton_1 " href="{{ url_for( 'noticia_dos') }} ">Leer mas...</a>
        </button>
    </aside>
</div>
<div class="noticia3 ">
    <aside>
        <p id="texto4 ">Bienvenidos a Peludit@s el Sitio Web de las mascotas, esta pensado para los amantes de las mascotas, aquí podrás encontrar información actualizada en las diferentes Secciones. Adopciones Responsables, mascotas perdidas y encontradas. Si queres
            aportar tu granito de arena hace click en: Donaciones. Información detallada por Departamento y Ciudad. También encontrarás nuestra sección Chat, para que tu comunicacion se directa con otros usuarios, que estén como tu visitando nuestro
            Sitio Web.
        </p>
        <button>
            <a class="boton_1 " href="{{ url_for( 'noticia_tres') }} ">Leer mas...</a>
        </button>
    </aside>
</div>
<div class="noticia4 ">
    <aside>
        <p id="texto4 ">Bienvenidos a Peludit@s el Sitio Web de las mascotas, esta pensado para los amantes de las mascotas, aquí podrás encontrar información actualizada en las diferentes Secciones. Adopciones Responsables, mascotas perdidas y encontradas. Si queres
            aportar tu granito de arena hace click en: Donaciones. Información detallada por Departamento y Ciudad. También encontrarás nuestra sección Chat, para que tu comunicacion se directa con otros usuarios, que estén como tu visitando nuestro
            Sitio Web.
        </p>
        <button>
            <a class="boton_1 " href="{{ url_for( 'noticia_cuatro') }} ">Leer mas...</a>
        </button>
    </aside>
</div>
{% endblock %}