{% extends 'base_layout.html' %}
<!--Contenido de Sección Principal-->
{% block content %}

<link rel="stylesheet" type="text/css" href="../static/noticias.css">

<h3 class="titulo">Peludit@s - Noticias</h3>

<div class="container2">
    <aside>
        <blockquote id="texto2">Enterate de todas las Noticias</blockquote>

        <blockquote id="texto3">
            <ul class="ul">
                <li>
                    <a href="https://www.elobservador.com.uy/nota/las-mascotas-mimadas-mueven-millones-en-uruguay-2017517500" style="color:#fff">Mascotas Mimadas uno</a>
                </li>
                <br>
                <li>
                    <a href="https://www.elobservador.com.uy/nota/las-mascotas-mimadas-mueven-millones-en-uruguay-2017517500" style="color:#fff">Mascotas Mimadas dos</a>
                </li>
                <br>
                <li>
                    <a href="https://www.elobservador.com.uy/nota/las-mascotas-mimadas-mueven-millones-en-uruguay-2017517500" style="color:#fff" ">Mascotas Mimadas tres</a>
                </li>
                </ul>
            </blockquote>
        </aside>
</div>
<div class="container3 ">
    <img src="static/images/logo.jpg " class="avatar " alt="Avatar Image "> 
</div>

<div class="bodynoticias "><h4>Hábitos alimenticios de humanos: causa de la obesidad en mascotas en EE.UU.</h4>
    <br>
    <p>Según un reporte emitido por la Asociación de Productos para Mascotas (APPA), 56 millones de gatos y 50 millones de perros tienen sobrepeso. Para los científicos, la obesidad en mascotas tiene una estrecha relación con los hábitos de sus dueños, entre ellos la mala alimentación y el sedentarismo. El presidente de la APPA aseguró que los veterinarios deben empezar a reconocer la obesidad en animales como una enfermedad, en vista de la lista de consecuencias que puede traer para las mascotas</p>
</div>
{% endblock %}